@font-face {
  font-family: charter;
  src: url(../fonts/charter-regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url(../fonts/charter-italic.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold.otf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold-italic.otf);
  font-style: italic;
  font-weight: bold;
}


:root {
  font-size: 18px;
  --white30: #ffffff;
  --white20: #212429;
  --white10: #616161;
}

html {
  font-size: 16px;
}

body {
  color: var(--white30);
  background: #251F24;
  font-family: 'Roboto', sans-serif;
}

header {
  font-size: 14px;
  color: var(--white10);
}

header a {
  color: var(--white10);
  text-decoration: none;
}

a {
  color: var(--white30);
}


header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
}

h1 {
  font-size: 60px;
  text-align: end;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1,5em;
}

pre {
  background: #FEC62E;
}

.hero {
  background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../img/patron.png'); 
  /* background-repeat: no-repeat; */
  /* background-position: left 50px bottom 50px; */
  height: 350px;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList);
}

.section-content h3::after {
  content: ' ';
  display: inline-block;
  width: 32px;
  height: 4px;
  background: var(--white30);
}


