@font-face {
  font-family: charter;
  src: url(../fonts/charter-regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url(../fonts/charter-italic.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold.otf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold-italic.otf);
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

html {
  font-size: 16px;
}

body {
  color: var(--gray30);
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  font-size: 14px;
  color: var(--gray10);
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

a {
  color: var(--gray30);
}

header a:hover {
  color: var(--gray30);
}

nav details summary {
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin-top: 64px;
  margin-bottom: 16px;
}

h1 + p {
  margin-bottom: 64px;
}

hr {
  margin: 64px 0;
}

h2 {
  font-size: 2em;
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 1, 5em;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 24px;
}

pre {
  background: #fec62e;
  padding: 40px;
  font-family: "Roboto";
  line-height: 24px;
}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;

  border-left: 5px solid var(--gray30);
}

blockquote span {
  color: var(--gray20);
}

blockquote span::before {
  content: "- ";
}

.main {
  border: 1px solid red;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("../img/patron.png");
}

.main-content {
  background: white;
  padding: 20px;
}

.wrapper {
  width: 902px;
  margin: auto;
}

.hero {
  /* background-repeat: no-repeat; */
  /* background-position: left 50px bottom 50px; */
  height: 350px;
}

.section-content {
  counter-reset: titleList;
  margin-top: 164px;
}

.section-content:first-of-type {
  margin: 0;
}

.section-content ul li {
  line-height: 24px;
}

.section-content ol li {
  margin-bottom: 16px;
}

.section-content img {
  margin-top: 40px;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 4px;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

.section-content h3::after {
  content: " ";
  display: inline-block;
  width: 32px;
  height: 4px;
  background: var(--gray30);
}

.title {
  background: red;
}
